@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display:wght@500&display=swap');

:root {
    --primary-color: #99aec2;
    --secondary-color: #dbbd8f;
    --dark-color: #527da5;
    --light-color: #dbbd8f;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    color: black;
    line-height: 1.6;
}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: black;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;

}
p {
    margin: 10px 0;
}
img {
    width: 100%;
}
code, pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

/* Navbar */
.navbar{
    background-color: var(--primary-color);
    color: white;
    height: 70px;
}
.navbar .flex{
    justify-content: flex-end;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: white;
    padding: 10px;
    margin: 0 5px;

}
.navbar a:hover{
    /* border-bottom: 2px #fff solid; */
    font-weight: bolder;
}
.navbar .text-dark{
    color: var(--dark-color);
    font-weight: bold;
}

/* Showcase */
.showcase {
    height: 850px;
    background-color: var(--primary-color);
    /* background-image: linear-gradient(var(--primary-color),var(--secondary-color)); */
    background-image: url("../images/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    color: white;
    position: relative;
    /* border-bottom: 1px solid var(--dark-color); */
}
.showcase h1 {
    font-size: 3rem;
}
.showcase h2 {
    font-size: 2rem;
}
.showcase mark{
    color: var(--dark-color);
    background-color: transparent;
}
.showcase .grid{
    overflow: visible;
    grid-template-columns: 3fr 2fr;
    gap:50px;
}
.showcase .grid > *:first-child{
    grid-column: 1;
}
.showcase-text{
    animation: slideInFromLeft 1s ease-in;
    grid-column: 1;
    justify-self: self-start;
    align-self: flex-start;
}
.showcase-text .buttons{
    justify-self: self-start;
    align-self: flex-start;
}
.showcase-text .buttons a{
    margin-top: 2em;
}
.showcase-text .buttons > *:first-child{
    margin-right: 2em;
}
.showcase-text .buttons a:hover{
    color: var(--dark-color);
    border-color: var(--dark-color);
}
/* .showcase::before, .showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-3deg);
} */

/* Featured and Biography */
.featured, .biography{
    /* background-image: linear-gradient(var(--primary-color),var(--secondary-color), var(--primary-color)); */
    background-color: var(--primary-color);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1em;
}
.featured h2, .biography h2{
    animation: slideInFromTop 1s ease-in;
    margin-bottom: px;
    color: white;
}
.featured .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    grid-auto-rows: minmax(50px, auto);
    row-gap: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.featured .grid > *:first-child{
    grid-column: 1;
}
.featured .grid > *:nth-child(2){
    grid-column: 2 / 4;
}
.featured .grid > *:nth-child(3){
    grid-column: 4;
    grid-row: 1;
}
.featured .flex, .biography .flex{
    flex-wrap: wrap;
}
.featured .card{
    color: var(--dark-color);
    text-align: center;
    height: 100%;
    transition: transform 0.2s ease-in;
}
.featured .card h4, .biography .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.featured .card img, .biography .card img{
    border-radius: 10px;
    justify-self: center;
    margin-right: 5%;
    margin-bottom: 3rem;
}
.featured .card div, .biography .card div{
    padding-top: 50px;
}
.biography .card{
    color: var(--dark-color);
    text-align: left;
    height: 100%;
    width: 100%;
    transition: transform 0.2s ease-in;
}
.biography a{
    color: var(--secondary-color);
    text-decoration: underline;
}

/* Footer  */
.footer{
    background-color: var(--primary-color);
}
.footer .social a{
    color: #fff;
    margin: 0 10px;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Tablets and under */
@media(max-width: 768px){
    .navbar .flex{
        justify-content: space-around;
    }
    .grid, .showcase .grid, .featured .grid, biography .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .featured .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
    }
    .featured .grid > *:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    .featured .grid > *:nth-child(3){
        grid-column: 1;
        grid-row: 3;
    }
    .showcase-text {
        animation: slideInFromTop 1s ease-in;
        text-align: center;
        margin-top: 40px;
    }
    
}

/* Mobile */
@media(max-width: 500px){
    .navbar{
        height: 100px;
    }
}