<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/utilities.css">
    <title>Kaleb Pattawi | Home</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <!-- <h1 class="logo"></h1> -->
            <nav>
                <ul>
                    <li><a class="text-dark" href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    </ul>
            </nav>
        </div>
    </div>

    <!-- Showcase -->
    <section class="showcase">
        <div class="container">
            <div class="showcase-text">
                <h1>Hello, I am <mark>Kaleb Pattawi.</mark></h1>
                <h2>Mechanical Engineer, Web Designer, and Surfboard Builder.</h2>
                <!-- <a href="about.html" class="btn btn-outline-white">Read More</a> -->
                <div class="buttons">
                    <a href="about.html" class="btn btn-outline-white">About Me</a>
                    <a href="projects.html" class="btn btn-outline-white">My Projects</a>
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>