<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/utilities.css">
    <title>Kaleb Pattawi | Projects</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo"></h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a class="text-dark" href="projects.html">Projects</a></li>
                    </ul>
            </nav>
        </div>
    </div>

    <!-- Featured -->
    <section class="featured">
        <h2 class="md text-center my-2">
            Here are some of my projects!
        </h2>
        <div class="container grid flex">
            <div class="card">
                <h4>Research at Santa Clara University</h4>
                <p>For my Master's at Santa Clara University, I wrote my thesis about increasing energy efficiency in residential buildings.</p>
                <img src="../images/solarhouse.jpg" alt="">
                <a href="scuResearch.html" class="btn btn-outline-dark">Read More</a>
            </div>
            <div class="card">
                <h4>Internship at the National Renewable Energy Lab</h4>
                <p>My work at NREL quantified the impact of user preferences on energy consumption in residential buildings. The work from this paper lead to a publication and presentation at the 2021 ASME Energy Sustainability Conference.</p>
                <img src="../images/nrelcampus.jpg" alt="">
                <a href="nrelResearch.html" class="btn btn-outline-dark">Read More</a>
            </div>
            <div class="card">
                <h4>KalebShapes</h4>
                <p>Custom surfboards designed and built by me!</p>
                <img src="../images/greenegg.JPG" alt="">
                <a href="kalebshapes.html" class="btn btn-outline-dark">Read More</a>
            </div>
        </div>
    </section>

    <!-- Footer  -->
    <footer class="footer py-5">
        <div class="container grid grid-3">
            <div class="social">
                <a href="https://github.com/kpattawi" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/kalebpattawi/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://www.instagram.com/kalebshapes/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>