<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/utilities.css">
    <title>Kaleb Pattawi | Projects</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <!-- <h1 class="logo"></h1> -->
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a class="text-dark" href="about.html">About</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    </ul>
            </nav>
        </div>
    </div>

    <!-- biography -->
    <section class="biography">
        <h2 class="md text-center my-2">
            Sorry, still working to get this page updated!
        </h2>
        <div class="container flex">
            <div class="card">
                
                <a href="about.html" class="btn btn-outline-dark">Click Here</a>
            </div>
        </div>
    </section>

    <!-- Footer  -->
    <footer class="footer py-5">
        <div class="container grid grid-3">
            <div class="social">
                <a href="https://github.com/kpattawi" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/kalebpattawi/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://www.instagram.com/kalebshapes/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>